@model IEnumerable<TaskActiveViewModel>

@{
    ViewBag.Title = "Active Tasks";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var task in Model)
        {
            <input type="hidden" asp-for="@task.Id" />
            <div class="col-sm-6" style="margin-bottom: 10px">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title text-center">@task.Title</h4>
                        <p class="card-text text-center">Description: @task.Description</p>
                        <p class="card-text">Due date: @task.DueDate</p>
                        @if (task.Employee != null)
                        {
                            <p class="card-text">Assignee: @task.Employee</p>
                        }
                        else
                        {
                            <p class="card-text">Assignee:<strong style="color:red"> Not assigned</strong></p>
                        }
                        <div class="d-grid gap-2">
                            @if (task.Employee != null)
                            {
                                @if (task.DueDate < DateTime.Now)
                                {
                                    <p class="card-text" style="color:red"><strong> Task is past its due date!</strong></p>
                                }
                                else
                                {
                                    <a asp-controller="Tasks" asp-action="CompleteTask" asp-route-id="@task.Id" class="btn btn-success">Complete</a>
                                }
                            }
                            <a asp-controller="Tasks" asp-action="EditTask" asp-route-id="@task.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Tasks" asp-action="DeleteTask" asp-route-id="@task.Id" class="btn btn-danger mb-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">All tasks are completed!</p>
}