@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit an employee";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.Id"/>
            <div class="mb-3">
                <label asp-for="@Model.FullName" class="form-label">Full Name</label>
                <input asp-for="@Model.FullName" class="form-control" aria-required="true"/>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" aria-required="true"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.BirthDate" class="form-label">Birth Date</label>
                <input asp-for="@Model.BirthDate" class="form-control" aria-required="true"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}