@model IEnumerable<EmployeeDetailsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Top 5 Employees</h1>
</div>

@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var employee in Model)
        {
            <div class="col-sm-6" style="margin-bottom: 10px">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title text-center">@employee.FullName</h4>
                        <p class="card-text">Email: @employee.Email</p>
                        <p class="card-text">Phone Number: @employee.PhoneNumber</p>
                        @if (employee.BirthDate != null)
                        {
                            <p class="card-text">Birth Date: @employee.BirthDate</p>
                        }
                        <p class="card-text">Total tasks completed: @employee.TasksCompleted</p>
                        <p class="card-text">Salary: @employee.Salary</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">No top employees yet!</p>
}